/* Content-First (Mobile First) */
    /* Reglas generales */
    * {
        box-sizing: border-box;
        scroll-behavior: smooth;
        font-family: sans-serif;
    }
    /* Reinicio de estilos */
    body,
    h1,
    h2,
    h3,
    header p,
    .menu{
        margin: 0;
    }
    .menu{
        padding: 0;
    }
    .menu{
        list-style: none;
    }
    nav a{
        text-decoration: none;
    }
    /* Cabecera */
    header{
        min-height: min(100vh, 640px);
        display: grid;
        align-content: center;
        text-align: center;
        font-size: min(3rem, calc(2vw + .8rem));
        color: #eee;
        background: linear-gradient(#c36, #448);
        text-shadow: 0 0 .5rem #eee;
    }
    /* Navegacion */
    nav{
        position: sticky;
        top: 0;
        z-index: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 1rem;
        background: linear-gradient(#f80, #000);
    }
    nav a{
        display: block;
        padding: .25rem;
        color: #eee;
        text-shadow: 0 0 .25rem #333;
        transition: all .5s ease;;
    }
    .btn{
        border-radius: .25rem;
        border: 1px solid #eee;
        padding: .25rem .5rem;
        color: #eee;
        background-color: transparent;
    }
    .btn:hover{
        color: #000;
        background-color: #eee;
    }
    .icon-open::before{
        content: '\2630';
    }
    .icon-close::before{
        content: '\00D7';
    }
    .menu{
        width: 100%;
        overflow: hidden;
        max-height: 0;
        transition: all .5s linear;
    }
    .menu.active{
        max-height: 100vh;
    }
    .menu a:hover{
        text-shadow: 0 0 .5rem #eee;
    }
    /* Contenido */

    /* Tabla colaboradores */
    .colabs{
        margin: 1rem auto;
        width: 50%;
        text-align: left;
        border-collapse: collapse;
        color: #eee;
        text-shadow: 0 0 .25rem #333;
        background: linear-gradient(#f80, #333);
    }
    .colabs caption,
    .colabs th,
    .colabs td{
        padding: .25rem .5rem;
    }
    .colabs caption{
        border-radius: .5rem .5rem 0 0;
        background-color: #f80;
    }
    .colabs tbody tr:nth-child(odd){
        background-color: #6663;
    }
    .colabs tbody tr:nth-child(even){
        background-color: #9993;
    }
    /* Pie de Pagina */
    .copy{
        margin: 0;
        padding: 1rem;
        text-align: center;
        color: #eee;
        text-shadow: 0 0 .5rem #333;
        background: linear-gradient(to right, #c36, #448);
        opacity: .8;
        transition: all .5s ease-in;
    }
    .copy:hover{
        opacity: 1;
    }
/* Small Devices (Smartphones) */

/* Medium Devices (Tablets) */
@media screen and (min-width: 768px){
    nav .btn{
        display: none;
    }
    .menu{
        display: flex;
        width: auto;
        max-height: 640px;
        gap: .5rem;
    }
}
/* Large Devices (Laptops) */

/* Extra Large (Desktop) */

/* Extra Extra Large (Smart TV) */
@media screen and (min-width: 1400px){
    nav{
        padding: 1rem calc(50vw - 660px);
    }
}