/* Content-First (Mobile First) */
    /* Reglas generales */
    * {
        box-sizing: border-box;
        scroll-behavior: smooth;
        font-family: sans-serif;
    }
    /* Reinicio de estilos */
    body,
    h1,
    h2,
    h3,
    header p,
    .menu{
        margin: 0;
    }
    .list-unstyled,
    .menu{
        padding: 0;
    }
    .commands,
    .list-unstyled,
    .menu{
        list-style: none;
    }
    nav a,
    .social a{
        text-decoration: none;
    }
    /* Cabecera */
    header{
        min-height: min(100vh, 640px);
        display: grid;
        align-content: center;
        text-align: center;
        font-size: min(3rem, calc(2vw + .8rem));
        color: #eee;
        background: linear-gradient(#c36, #448);
        text-shadow: 0 0 .5rem #eee;
    }
    /* Navegacion */
    nav{
        position: sticky;
        top: 0;
        z-index: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 1rem;
        background: linear-gradient(#f80, #000);
    }
    nav a{
        display: block;
        padding: .25rem;
        color: #eee;
        text-shadow: 0 0 .25rem #333;
        transition: all .5s ease;;
    }
    .btn{
        border-radius: .25rem;
        border: 1px solid #eee;
        padding: .25rem .5rem;
        color: #eee;
        background-color: transparent;
    }
    .btn:hover{
        color: #000;
        background-color: #eee;
    }
    .icon-open::before{
        content: '\2630';
    }
    .icon-close::before{
        content: '\00D7';
    }
    .menu{
        width: 100%;
        overflow: hidden;
        max-height: 0;
        transition: all .5s linear;
    }
    .menu.active{
        max-height: 100vh;
    }
    .menu a:hover{
        text-shadow: 0 0 .5rem #eee;
    }
    /* Contenido */
    main{
        margin: 1rem auto;
        padding: .5rem;
    }
    /* Disposicion */
    .grid{
        display: grid;
    }
    .flex{
        display: flex;
    }
    .auto{
        grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--size)), 1fr));
        gap: .5rem;
    }
    .auto > * {
        flex: 1 0 min(100%, var(--size))
    }
    .small{
        --size: 180px;
    }
    .medium{
        --size: 360px;
    }
    .large{
        --size: 540px ;
    }
    .commands{
        max-width: 720px;
        margin: 2rem auto;
        border-left: .25rem solid #f80;
        padding: 1rem;
        line-height: 1.5;
        box-shadow: -.25rem .25rem .5rem #3338;
        background-color:#eee;
    }
    .card{
        border-radius: .5rem;
        padding: 3rem 1rem;
        box-shadow: 0 0 .5rem #ccc;
        font-size: min(calc(2vw + 1rem), 5rem);
        color: #eee;
        background-color: #3338;
        text-transform: uppercase;
        text-align: center;
        transition: all .5s ease;
    }
    .card:nth-child(even):hover{
        background-color: #336;
    }
    .card:nth-child(odd):hover{
        background-color: #633;
    }
    .card:nth-child(3n + 1):hover{
        background-color: #363;
    }
    /* Repositorios */
    .social{
        display: flex;
        justify-content: center;
        gap: .5rem;
    }
    .social a{
        border-radius: .5rem;
        padding: .5rem;
        color: #eee;
        background-color: #333;
    }
    .social a:hover{
    background-color: #666;
    }
    /* Tabla colaboradores */
    .colabs{
        margin: 1rem auto;
        width: 50%;
        text-align: left;
        border-collapse: collapse;
        color: #eee;
        text-shadow: 0 0 .25rem #333;
        background: linear-gradient(#f80, #333);
        box-shadow: -.5rem .25rem .25rem .25rem #3338;
    }
    .colabs caption,
    .colabs th,
    .colabs td{
        padding: .5rem 1rem;
    }
    .colabs caption{
        border-radius: .5rem .5rem 0 0;
        background-color: #f80;
    }
    .colabs tbody tr:nth-child(odd){
        background-color: #6663;
    }
    .colabs tbody tr:nth-child(even){
        background-color: #9993;
    }
    /* Pie de Pagina */
    .copy{
        margin: 0;
        padding: 1rem;
        text-align: center;
        color: #eee;
        text-shadow: 0 0 .5rem #333;
        background: linear-gradient(to right, #c36, #448);
        opacity: .8;
        transition: all .5s ease-in;
    }
    .copy:hover{
        opacity: 1;
    }

    /* Formulario de contacto */ 

    .contact_form{	
    width: 460px; 
    height: auto;
    margin: 80px auto;
    border-radius: 10px;  
        padding-top: 30px;
        padding-bottom: 20px;  
      background-color: #fbfbfb; 
      padding-left: 30px; 
    }
    
    
    input{
        background-color: #fbfbfb; 
        width: 408px; 
        height: 40px; 
        border-radius: 5px;  
        border-style: solid; 
        border-width: 1px; 
        border-color: #f80; 
        margin-top: 10px;  
        padding-left: 10px;
      margin-bottom: 20px; 
    }
    
    
    textarea{
      background-color: #fbfbfb; 
        width: 405px; 
        height: 150px; 
        border-radius: 5px;  
        border-style: solid; 
        border-width: 1px; 
        border-color: #f80; 
        margin-top: 10px;  
        padding-left: 10px;
      margin-bottom: 20px; 
      padding-top: 15px; 
    }
    
    
    label{
      display: block; 
        float: center; 	
    }
    
    
    button{
        height: 45px; 
        padding-left: 5px;
        padding-right: 5px; 	
        margin-bottom: 20px; 
        margin-top: 10px; 	
        text-transform: uppercase;
        background-color: #f80; 
        border-color: #f80; 
        border-style: solid; 
        border-radius: 10px;	
        width: 420px;   
      cursor: pointer;
    }
    
    
    button p{
        color: #fff; 
    }
    
    
    span{
        color: #f80; 
    }
    
    
    .aviso{
        font-size: 13px;  
        color: #0e0e0e;  
    }
    
   
    
    ::-webkit-input-placeholder {
     color: #a8a8a8;
    }
    
    
    ::-webkit-textarea-placeholder {
     color: #a8a8a8;
    }
    
    .formulario input:focus{
        outline:0;
        border: 1px solid #97d848;
    }
    
    
    .formulario textarea:focus{
        outline:0;
        border: 1px solid #97d848;
    }

/* Small Devices (Smartphones) */
@media screen and (min-width: 576px){
    main{
        max-width: 540px;
    }
}
/* Medium Devices (Tablets) */
@media screen and (min-width: 768px){
    nav .btn{
        display: none;
    }
    .menu{
        display: flex;
        width: auto;
        max-height: 640px;
        gap: .5rem;
    }
    main{
        max-width: 720px;
    }
}
/* Large Devices (Laptops) */
@media screen and (min-width: 992px){
    main{
        max-width: 960px;
    }
}
/* Extra Large (Desktop) */
@media screen and (min-width: 1200px){
    main{
        max-width: 1140px;
    }
}
/* Extra Extra Large (Smart TV) */
@media screen and (min-width: 1400px){
    nav{
        padding: 1rem calc(50vw - 660px);
    }
    main{
        max-width: 1320px;
    }
}
/* Redes Sociales */
    .social2{
        display: flex;
        justify-content: center;
        gap: .5rem;
    }
    .social2 a{
        border-radius: .5rem;
        padding: .5rem;
        color: #eee;
    }
    .social2 a:hover{
    background-color: rgb(189, 178, 178);
    }